# Python cache fájlok
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook adatok
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Conda és virtuális környezetek (ha a projekt mappájába hozod létre őket)
env/
.env/
venv/
.conda/

# Adatok (Csak a mappa struktúrát tartjuk meg, a fájlokat nem)
data/raw/*
!data/raw/.keep
data/processed/*
!data/processed/.keep

# Betanított modellek (ezeket kóddal generáljuk, nem kommitoljuk)
models/*.pkl
models/*.joblib
!models/.keep

# Operációs rendszer specifikus fájlok
.DS_Store
Thumbs.db

# Streamlit specifikus fájlok (későbbre)
.streamlit/secrets.toml