# Python cache fájlok
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook adatok
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# CatBoost specifikus fájlok (ha használod a CatBoost-ot, ezek a fájlok jönnek létre a tanítás során)
catbboost_info
*/catbboost_info/*
notebooks/catboost_info/catboost_training.json
notebooks/catboost_info/learn_error.tsv
notebooks/catboost_info/time_left.tsv
notebooks/catboost_info/learn/events.out.tfevents


# Conda és virtuális környezetek (ha a projekt mappájába hozod létre őket)
env/
.env/
venv/
.conda/

# Adatok (Csak a mappa struktúrát tartjuk meg, a fájlokat nem)
# data/raw/*
# !data/raw/.keep
# data/processed/*
# !data/processed/.keep

# Betanított modellek (ezeket kóddal generáljuk, nem kommitoljuk)
# models/*.pkl
# models/*.joblib
# !models/.keep

# Operációs rendszer specifikus fájlok
.DS_Store
Thumbs.db

# Streamlit specifikus fájlok (későbbre)
.streamlit/secrets.toml
.vscode/settings.json
